@font-face {
    font-family: 'GillesComicFont';
    src: url('client/fonts/GillesHandwriting.eot');
    src: url('client/fonts/GillesHandwriting.eot?') format('embedded-opentype'), url('client/fonts/GillesHandwriting.woff2') format('woff2'), url('client/fonts/GillesHandwriting.woff') format('woff'), url('client/fonts/GillesHandwriting.svg') format('svg');
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'dk_lemon_yellow_sunregular';
    src: url('client/fonts/dk_lemon_yellow_webfont.eot');
    src: url('client/fonts/dk_lemon_yellow_webfont.eot?') format('embedded-opentype'), url('client/fonts/dk_lemon_yellow_webfont.woff2') format('woff2'), url('client/fonts/dk_lemon_yellow_webfont.woff') format('woff'), url('client/fonts/dk_lemon_yellow_webfont.ttf') format('truetype'), url('client/fonts/dk_lemon_yellow_webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'UrbanPaints';
    src: url('client/fonts/UrbanPaints.eot');
    src: url('client/fonts/UrbanPaints.eot?') format('embedded-opentype'), url('client/fonts/UrbanPaints.woff2') format('woff2'), url('client/fonts/UrbanPaints.woff') format('woff'), url('client/fonts/UrbanPaints.svg') format('svg');
    font-weight: normal;
    font-style: normal
}
input:focus, select:focus, textarea:focus {
    outline: none
}
.center{
    text-align: center !important;
}
.newbody {
    background: url(client/images/bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 12px;
    font-weight: normal
}
.background {
    position: absolute;
    top: -2%;
    left: -2%;
    width: 110%;
    height: 110%;
    z-index: -9;
    background-size: cover
}
.wg_product {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: 2;
    opacity: 1
}
.wg_product1 {
    top: 60px;
    left: 60px
}
.wg_product2 {
    top: 280px;
    left: 30px
}
.wg_product3 {
    top: 460px;
    left: 180px
}
.wg_product4 {
    top: 650px;
    left: 20px
}
.wg_product5 {
    top: 620px;
    left: 500px
}
.wg_product6 {
    top: 160px;
    left: inherit;
    right: 80px
}
.wg_product7 {
    top: 360px;
    left: inherit;
    right: 30px
}
.wg_product8 {
    top: 620px;
    left: inherit;
    right: 50px
}
.wg_product9 {
    top: 600px;
    left: inherit;
    right: 500px
}
.wg_product {
    -webkit-filter: grayscale(0%);
    -webkit-transition: .1s ease-in-out;
    -moz-filter: grayscale(0%);
    -moz-transition: .1s ease-in-out;
    -o-filter: grayscale(0%);
    -o-transition: .1s ease-in-out
}
.wg_product:hover {
    -webkit-filter: grayscale(100%);
    -webkit-transition: .1s ease-in-out;
    -moz-filter: grayscale(100%);
    -moz-transition: .1s ease-in-out;
    -o-filter: grayscale(100%);
    -o-transition: .1s ease-in-out
}
.newbody .wrapper {
    width: 100%;
    position: relative;
    overflow: hidden
}
.newbody header {
    width: 100%;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s
}
.newbody header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: rgba(255, 255, 255, 0.5)
}
.newbody header.fixed .logo {
    width: 120px
}
.logo {
    width: 180px;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s
}
.logo img {
    width: 100%
}
.header_right .top_menu ul li img {
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    width: 44px
}
.newbody header.fixed .header_right .top_menu ul li img {
    width: 30px
}
.newbody header:after, .newbody header:before, .container_info:after, .container_info:before {
    content: " ";
    clear: both;
    display: table
}
.header_bg {
    background: url(client/images/header_bg.png) no-repeat
}
.full-wrapper {
    width: 100%;
    float: left;
    display: table
}
.container_info {
    width: 100%;
    max-width: 1090px;
    margin: 0 auto
}
.logo_row {
    padding: 8px 0px
}
.top_menu {
    float: right
}
.top_menu ul {
    margin: 0;
    padding: 0;
    list-style: none
}
.top_menu ul li {
    float: left;
    margin: 0 5px
}
.top_menu ul li a, .top_menu ul li a:hover {
    padding: 0;
    margin: 0
}
.menu_info {
    clear: both
}
.menu_bg {
    background: url(client/images/menu_bg.png) no-repeat;
    margin-bottom: 0;
    background-size: 100%
}
.menu_bg ul {
    padding: 0;
    margin: 25px 0 0 0;
    list-style: none; padding-left:25px;
}
.menu_bg ul li {
    float: left;
    margin: 0px 15px;
    position: relative
}
.menu_bg ul li a {
    background:none;
    font:normal 24px/50px dk_lemon_yellow_sunregular;
    color:#fff;
    padding-bottom:0;
    padding-top:0; font-weight:600; 
}
.menu_bg ul li a:hover, .menu_bg ul li a:focus, .menu_bg ul li a.active {
    background: none;
    color: #b5ff00
}
.menu_bg ul li ul {
    position: absolute;
    top: 24px;
    background: #fff;
    display: none;
    padding-top: 10px
}
.menu_bg ul li:hover ul {
    display: block
}
.menu_bg ul li ul li {
    width: 200px;
    height: auto
}
.menu_bg ul li ul li a {
    color: #389946;
    font-size: 22px;
    line-height: 40px
}
.menu_bg ul li ul li a:hover, .menu_bg ul li ul li a:focus {
    color: #8dbb1d
}
.innerpage_bg {
    background: url(client/images/dropdown_bg.png) repeat;
    padding: 0 30px 30px 30px;
    position: relative;
    min-height: 830px
}
.innerpage_bg:after {
    content: "";
    width: 30px;
    height: 274px;
    background: url(client/images/leftshadow.png) no-repeat;
    top: 10px;
    left: -28px;
    position: absolute;
    display: inline-block
}
.innerpage_bg:before {
    content: "";
    width: 30px;
    height: 274px;
    background: url(client/images/rightshadow.png) no-repeat;
    top: 10px;
    right: -28px;
    position: absolute;
    display: inline-block
}
.bannerslider_info {
    width: 90%;
    margin: 0px auto;
}
.bannerslider_info div {
    padding: 0;
    margin: 0
}
.bannerslider_info div.banner_slider div {
    position: relative;
    display: block
}
.bannerslider_info div.banner_slider .clicktoexp {
    width: 100%;
    display: block
}
.bannerslider_info div.banner_slider div h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    font: normal 50px/50px dk_lemon_yellow_sunregular;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    width: 100%;
    text-shadow: 2px 3px 6px rgba(0, 0, 0, .35); font-weight:600; 
}
.clicktoexp h3 {
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 28px;
    color: #697b37;
    text-align: center
}
.clicktoexp h3 a, .clicktoexp h3 a:hover {
    font-size: 32px;
    color: #82b407;
    text-decoration: none
}
.banner_slider .homebanner_txt {
    margin: 10px auto 80px auto
}
.banner_slider .homebanner_txt .itsall_img {
    margin: 0px auto;
    padding: 15px 0;
    max-height: 80px
}
.itsall_fresh .itsall_img {
    padding: 15px 0
}
.homebanner_txt p, .itsall_fresh p {
    font-family: 'GillesComicFont';
    font-size: 18px;
    line-height: 30px;
    color: #697b37;
    padding: 0 150px
}
.homebanner_txt p a, .homebanner_txt p a:hover, .homebanner_txt p a:focus, .itsall_fresh p a, .itsall_fresh p a:hover, .itsall_fresh p a:focus {
    color: #697b37;
    font-family: 'GillesComicFont';
    font-size: 16px;
    line-height: 26px;
    margin: 0
}
.share_icons p a, .share_icons p a:hover, .share_icons p a:focus {
    margin: 0px 1px !important
}
.top_menu .dropdown-menu {
    z-index: 9999;
    padding: 15px 0;
    border: 0;
    border-radius: 0;
    margin: 5px 0;
    background: url(client/images/dropdown_bg.png) repeat;
    width: 216px;
    -webkit-box-shadow: -1px 0 10px rgba(24, 24, 25, .75);
    -moz-box-shadow: -1px 0 10px rgba(24, 24, 25, .75);
    box-shadow: -1px 0 10px rgba(24, 24, 25, .75);
    left: -169px
}
.top_menu .dropdown-menu ul>li {
    margin: 0;
    width: 100%;
    margin-bottom: 10px
}
.top_menu .dropdown-menu ul>li .form-groups {
    padding: 0 25px
}
.top_menu .dropdown-menu ul>li input[type="email"], .top_menu .dropdown-menu ul>li input[type="number"], .top_menu .dropdown-menu ul>li input[type="password"], .top_menu .dropdown-menu ul>li input[type="tel"], .top_menu .dropdown-menu ul>li input[type="url"], .top_menu .dropdown-menu ul>li input[type="text"] {
    font-family: 'GillesComicFont';
    font-size: 16px;
    line-height: 28px;
    color: #389946;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    background: none;
    padding: 0 !important
}
.login_btn, .signup_btn {
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 20px;
    line-height: 20px;
    color: #389946;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    background: none;
    padding: 0 !important;
    outline: none
}
.top_menu .dropdown-menu ul>li input::-webkit-input-placeholder {
color:#349e49
}
.top_menu .dropdown-menu ul>li input:-moz-placeholder {
color:#349e49
}
.top_menu .dropdown-menu ul>li input::-moz-placeholder {
color:#349e49
}
.top_menu .dropdown-menu ul>li input:-ms-input-placeholder {
color:#349e49
}
.top_menu .dropdown-menu ul>li img {
    width: auto !important
}
.top_menu .dropdown-menu ul>li span {
    margin: 10px 0
}
.top_menu .dropdown-menu ul>li.btgap {
    margin-bottom: 10px !important
}
.top_menu .dropdown-menu ul>li.btgap span {
    margin: 0px !important
}
.top_menu .dropdown-menu ul>li>a, .top_menu .dropdown-menu ul>li>a:hover, .top_menu .dropdown-menu ul>li>a:focus {
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 18px;
    line-height: 18px;
    color: #389946;
    padding: 0 25px;
    background: none;
    text-decoration: none; display:block; 
}
.top_menu .dropdown-menu ul>li>span {
    display: block;
    width: 100%;
    font-family: 'GillesComicFont';
    font-size: 16px;
    line-height: 28px;
    color: #389946;
    padding: 0 25px;
    cursor: pointer;
}
.top_menu .dropdown-menu ul>li>span a, .top_menu .dropdown-menu ul>li>span a:hover, .top_menu .dropdown-menu ul>li>span a:focus {
    font-family: 'GillesComicFont';
    font-size: 14px;
    line-height: 28px;
    color: #389946;
    padding: 0 !important;
    background: none;
    text-decoration: none;
    width: 100%
}
.btgap {
    margin-bottom: 30px !important
}
.account_info h3, .history_info h1, .history_info h3 {
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 42px;
    line-height: 42px;
    color: #389946; font-weight:bold; 
}
.history_info h3 span {
    font-size: 44px
}
.account_info p {
    font-family: 'GillesComicFont';
    font-size: 18px;
    line-height: 30px;
    color: #598c3e
}
.account_form {
    padding: 20px 0
}
.account_form .form-group {
    margin-bottom: 5px
}
.account_form form {
    width: 330px
}
.account_form input[type="email"], .account_form input[type="number"], .account_form input[type="password"], .account_form input[type="tel"], .account_form input[type="url"], .account_form input[type="text"] {
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 20px;
    line-height: 28px;
    border: 0;
    box-shadow: none;
    background: none;
    margin-bottom: 20px;
    color: #349e49;
    padding: 6px 0
}
.account_form input::-webkit-input-placeholder {
color:#349e49
}
.account_form input:-moz-placeholder {
color:#349e49
}
.account_form input::-moz-placeholder {
color:#349e49
}
.account_form input:-ms-input-placeholder {
color:#349e49
}
.recpass_sec p {
    display: inline-block
}
.recpass_sec p a, .recpass_sec p a:hover {
    font-family: 'GillesComicFont';
    font-size: 18px;
    line-height: 30px;
    color: #598c3e;
    display: block
}
.ratinglist_lft .submit_btn, .account_form .submit_btn, .reset_form .submit_btn {
    background-color: #349e49;  
    padding: 6px 30px;
    border: 0;
    border-radius: 0;
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 23px;
    line-height: 26px;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz--webkit-border-radius: 3px
}
.ratinglist_lft .submit_btn:hover, .account_form .submit_btn:hover, .ratinglist_lft .submit_btn:active:hover, .account_form .submit_btn:active:hover {
    background-color: #349e49;
    color: #fff;
    text-decoration: none
}
.history_row {
    margin: 40px 0;
    display: block;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    width: 100%
}
.history_list {
    text-align: center
}
.history_list h5, .history_list h5 a, .history_list h5 a:hover {
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 24px;
    line-height: 26px;
    color: #389946;
    text-decoration: none
}
.history_list h5 span {
    display: block
}
.history_list ul {
    margin: 0;
    padding: 0;
    list-style: none
}
.history_list ul li {
    width: 50%;
    float: left;
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 18px;
    line-height: 30px;
    color: #389946;
    text-align: left
}
.rating_row, .search_row {
    margin: 40px 0
}
.rating_row textarea {
    font-family: 'dk_lemon_yellow_sunregular' !important;
    font-size: 24px !important;
    line-height: 28px !important;
    margin-bottom: 15px;
    border: 1px solid #8cc694;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz--webkit-border-radius: 3px
}
.rating_row .submit_btn, .rating_row .submit_btn:hover, .rating_row .submit_btn:active:hover {
    font-family: 'dk_lemon_yellow_sunregular' !important;
    font-size: 22px;
    line-height: 30px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz--webkit-border-radius: 3px
}
.ratinglist_lft h5, .ratinglist_lft h5 a, .ratinglist_lft h5 a:hover, .cartpage_lft h5, .cartpage_lft h5 a, .cartpage_lft h5 a:hover {
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 24px;
    line-height: 26px;
    color: #389946;
    text-decoration: none
}
.ratinglist_lft h5 span {
    display: block
}
.cartpage_lft {
    position: relative
}
.close_img {
    position: absolute;
    top: 20px;
    left: 20px
}
.cartpage_lft h5 em {
    font-family: 'GillesComicFont';
    font-size: 22px;
    line-height: 30px;
    color: #389946;
    font-style: normal
}
.ratinglist_rght {
    padding-top: 30px
}
.rating_stars {
    padding: 8px 0
}
.ratinglist_rght p {
    font-family: 'GillesComicFont';
    font-size: 18px;
    line-height: 30px;
    color: #389946
}
.ratinglist_rght p span {
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 24px;
    line-height: 24px
}
.search_list {
    text-align: center;
    margin-bottom: 0px
}
.search_list h5, .search_list h5 a, .search_list h5 a:hover {
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 30px;
    line-height: 32px;
    color: #389946;
    text-decoration: none
}
.search_list h5 span {
    display: block
}
.addtocart_info {
    display: block;
    margin:0 0 20px; 
}
.addtocart_btn, .addtocart_btn:hover, .addtocart_btn:focus {
    background: url(client/images/addtocart_btn.png) no-repeat;
    padding: 16px 66px;
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    text-decoration: none
}
.salsa_avbl, .salsa_avbl .btn-group>.btn, .salsa_avbl .btn-group>.btn:hover, .salsa_avbl .btn-group>.btn:focus {
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 28px;
    line-height: 26px;
    color: #389946;
    box-shadow: none
}
.salsa_avbl .caret {
    border-top: 12px solid #389946;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    margin-right: 2px
}
.salsa_avbl .dropdown-menu {
    border: 0;
    border-radius: 0
}
.salsa_avbl .dropdown-menu li {
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 26px;
    line-height: 20px;
    color: #444
}
.salsa_avbl .dropdown-menu li a, .salsa_avbl .dropdown-menu li a:hover, .salsa_avbl .dropdown-menu li a:focus {
    line-height: 24px;
    background: none;
    color: #444
}
.static_cnt p {
    font-family: "GillesComicFont";
    font-size: 16px;
    line-height: 28px;
    color: #389946
}
.static_cnt p a, .static_cnt p a:hover, .static_cnt p a:focus {
    color: #389946
}
.static_cnt ul {
    margin: 0;
    padding: 0;
    list-style: none
}
.static_cnt ul li {
    font-family: "GillesComicFont";
    font-size: 18px;
    line-height: 22px;
    color: #389946;
    margin-bottom: 15px
}
.static_cnt ul li span {
    display: table-cell;
    padding-left: 15px;
    vertical-align: top
}
.viewdetails_btn, .viewdetails_btn:hover, .viewdetails_btn:focus {
    font-family: "GillesComicFont";
    font-size: 20px;
    line-height: 46px;
    color: #389946;
    margin-right: 50px; margin-top:0; 
}
.viewdetails_btn:hover {
    text-decoration: underline
}
.gourmet_list h5, .gourmet_list h5 a, .gourmet_list h5 a:hover, .gourmet_list h5 a:focus {
    font-family: 'GillesComicFont';
    font-size: 18px;
    line-height: 24px;
    color: #598914;
    letter-spacing: 0
}
.gourmet_list .addtocart_btn, .gourmet_list .addtocart_btn:hover, .gourmet_list .addtocart_btn:focus {
    font-family: 'GillesComicFont';
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    padding: 14px 73px;
    letter-spacing: 0;  margin-top:0; 
}
.seprateprod_row {
    padding: 30px 0
}
.seprateprod_list h1 {
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 30px;
    line-height: 36px;
    color: #389946;
    margin: 0; font-weight:600; 
}
.seprateprod_list h3 span {
    font-family: 'GillesComicFont';
    font-size: 20px;
    line-height: 24px;
    color: #389946
}
.seprateprod_list h4 span {
    font-family: 'GillesComicFont';
    font-size: 20px;
    line-height: 24px;
    color: #389946
}
.seprateprod_list p, .qty_list p {
    font-family: 'GillesComicFont';
    font-size: 18px;
    line-height: 24px;
    color: #389946
}
.qty_info {
    float: left
}
.qty_info .btn-group>.btn, .qty_info .btn-group>.btn:hover, .qty_info .btn-group>.btn:focus {
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 36px;
    line-height: 36px;
    color: #389946;
    box-shadow: none
}
.qty_info .dropdown-menu {
    border: 0;
    border-radius: 0
}
.qty_info .dropdown-menu li {
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 24px;
    line-height: 24px;
    color: #444
}
.qty_info .dropdown-menu li a, .qty_info .dropdown-menu li a:hover, .qty_info .dropdown-menu li a:focus {
    line-height: 24px;
    background: none;
    color: #444
}
.qty_info .caret {
    border-top: 12px solid #389946;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    margin-right: 2px
}
.checkavbl_btn, .checkavbl_btn:hover, .checkavbl_btn:focus {
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 30px;
    line-height: 30px;
    color: #389946;
    box-shadow: none;
    text-decoration: none
}
.productdetails_slider li img {
    margin: 0 auto
}
.reviews_row {
    width: 800px;
    margin: 50px auto;
    display: block
}
.reviews_row h3, .alsotry_row h3 {
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 36px;
    line-height: 30px;
    color: #389946;
    margin: 10px 0;
    text-align: center; font-weight:600; 
}
div.review_slider div {
    text-align: center;
    font-family: 'GillesComicFont';
    font-size: 20px;
    line-height: 24px;
    color: #389946;
    height: 100px
}
div.review_slider div span, .alsotry_slider h3 {
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 28px
}
.reviewPrev, .relatedPrev, .thumbPrev {
    background: url(client/images/review_arrows.png) left center no-repeat;
    width: 31px;
    height: 35px;
    left: 0
}
.reviewNext, .relatedNext, .thumbNext {
    background: url(client/images/review_arrows.png) right center no-repeat;
    width: 31px;
    height: 35px;
    right: 0
}
.reviews_row .bx-wrapper .bx-prev:hover, .reviews_row .bx-wrapper .bx-next:hover, .alsotry_row .bx-wrapper .bx-prev:hover, .alsotry_row .bx-wrapper .bx-next:hover {
    opacity: 0.5
}
.alsotry_row {
    margin: 50px 0
}
.alsotry_row .bx-wrapper .bx-prev {
    left: -30px
}
.alsotry_row .bx-wrapper .bx-next {
    right: -30px
}
div.alsotry_slider div a, div.alsotry_slider div a:hover, div.alsotry_slider div a:focus {
    text-decoration: none
}
div.alsotry_slider div h5 {
    text-align: center;
    font-family: 'GillesComicFont';
    font-size: 20px;
    line-height: 24px;
    color: #389946
}
.cartpage_list {
    border-bottom: 1px solid #eaeaea;
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    padding-bottom: 20px
}
.cartpage_lft .qty_info .caret {
    margin-right: 0;
    margin-left: 4px
}
.cartpage_price h4 {
    text-align: right;
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 32px;
    line-height: 32px;
    color: #389946
}
.total_price ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right
}
.total_price ul li {
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 24px;
    line-height: 30px;
    color: #389946
}
.checkoutbtn_info {
    margin: 30px 0
}
.checkout_btn, .checkout_btn:hover, .checkout_btn:focus {
    background: url(client/images/addtocart_btn.png) no-repeat;
    padding: 16px 66px;
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 28px;
    line-height: 28px;
    color: #fff;
    text-decoration: none
}
.ordersum_heading h5 {
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 36px;
    line-height: 40px;
    color: #389946;
    margin: 0 0 20px 0;  
}
span.check {
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 22px;
    line-height: 22px;
    color: #389946;
    margin: 0 0 20px 0;   
}
.shipping_list p {
    font-family: 'GillesComicFont';
    font-size: 16px;
    line-height: 24px;
    color: #389946
}
.billing_address a, .billing_address a:hover, .billing_address a:focus {
    font-family: 'GillesComicFont';
    font-size: 16px;
    line-height: 24px;
    color: #389946;
    text-decoration: none;
    background: none;
    padding: 0
}
.billing_address a:hover {
    text-decoration: underline
}
.billing_address {
    margin: 20px 0
}
.storelocation_info {
    position: relative;
    background: url(client/images/location_map.png) center no-repeat;
    min-height: 800px
}
.storelocation_search {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    text-align: center
}
.storelocation_search label {
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 28px;
    line-height: 30px;
    color: #389946;
    font-weight: normal
}
.storelocation_search input[type="text"] {
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 26px;
    line-height: 30px;
    color: #389946;
    font-weight: normal;
    border: 0;
    background: none;
    box-shadow: none;
    vertical-align: top;
    width: 300px
}
.storelocation_search input::-webkit-input-placeholder {
color:#8cbd92
}
.storelocation_search input:-moz-placeholder {
color:#8cbd92
}
.storelocation_search input::-moz-placeholder {
color:#8cbd92
}
.storelocation_search input:-ms-input-placeholder {
color:#8cbd92
}
.newbody footer, .parallaxhome footer {
    text-align: center;
    padding-top: 30px
}
.newbody footer p a, .parallaxhome footer p a, .newbody footer p a:hover, .parallaxhome footer p a:hover, .newbody footer p a:focus, .parallaxhome footer p a:hover {
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 18px;
    line-height: 22px;
    color: #389946;
    margin: 0 15px;
    text-decoration: none
}
.new_badge {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 14px !important;
    font-family: 'dk_lemon_yellow_sunregular';
    padding: 3px;
    position: absolute;
    right: 8px;
    background: #52B043
}
.social {
    margin: 0 auto
}
.social button {
    background: none;
    border: none;
    display: inline-block;
    margin-right: 0px;
    padding: 10px;
    outline: none;
    width: 40px
}
.social i {
    font-size: 20px;
    color: #fff
}
.social button.facebookc i {
    color: #3b5998
}
.social button.googlec i {
    color: #d34836
}
.social button.twiiterc i {
    color: #4099FF
}
.wincolor {
    color: #389946;
    font-size: 28px;
    margin-right: 5px
}
.swiper-container, .swiper-container-review, .swiper-container-related, .swiper-container-image, .swiper-container-thumb, .swiper-container-home {
    width: 100%;
    height: 100%
}
.swiper-container-home img {
    max-width:100%; max-height:100%; 
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}
.selectlist {
    position: relative;
    border: 1px solid #add4b2;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.selectlist:hover .overlay-ship {
    display: block
}
.selectlist .overlay-ship {
    display: none;
    position: absolute;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background: rgba(0, 0, 0, 0.2);
    top: -10px;
    left: -10px
}
.selectlist .overlay-ship .button_box {
    width: 140px;
    height: 50px;
    margin-top: calc(40% - 25px);
    margin-left: auto;
    margin-right: auto
}
.selectlist .overlay-ship .button_box button {
    background: none;
    border: 1px solid #fff;
    margin: 0px 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 26px
}
.selectlist .overlay-ship .button_box button.delete {
    color: #fff
}
.selectlist .overlay-ship .button_box button.delete:hover {
    color: red
}
.selectlist .overlay-ship .button_box button.select {
    color: #fff
}
.selectlist .overlay-ship .button_box button.select:hover {
    color: green
}
.share_icons .facebook {
    background-image: url(client/images/fb_icon.png);
    height: 35px;
    width: 34px;
    display: inline-block
}
.share_icons .twitter {
    background-image: url(client/images/tw_icon.png);
    height: 35px;
    width: 34px;
    display: inline-block
}
.share_icons .instagram {
    background-image: url(client/images/insta_icon.png);
    height: 35px;
    width: 34px;
    display: inline-block
}
.share_icons .linkedin {
    background-image: url(client/images/linked_icon.png);
    height: 35px;
    width: 34px;
    display: inline-block
}
.share_icons .youtube {
    background-image: url(client/images/youtube_icon.png);
    height: 35px;
    width: 34px;
    display: inline-block
}
.LazyLoad {
    opacity: 0;
    transition: all 1s ease-in-out
}
.LazyLoad.is-visible {
    opacity: 1
}
.searchlist_img img, .srr img {
    display: block;
    height: 250px;
    margin: 0 auto
}
.adtl, .adtl:hover, .adtl:focus {
    margin-left: 0px;
    margin-top: 9px;
    padding: 15px 38px !important;
    background-size: 100%;
    line-height: 17px !important
}
.adtr, .adtr:hover, .adtr:focus {
    margin-right: 36px
}
.ss{
    font-family: 'GillesComicFont';
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    display: block;
}
.signcheck{
    font-family: 'GillesComicFont';
    font-size: 14px;
    line-height: 28px;
    color: #389946;
    padding: 0 !important;
    background: none;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}
input:focus::-webkit-input-placeholder {
color:transparent
}
input:focus:-moz-placeholder {
color:transparent
}
input:focus::-moz-placeholder {
color:transparent
}
input:focus:-ms-input-placeholder {
color:transparent
}
.history_img img, .cartpage_img img {
    height: 150px;
    display: block;
    margin: 0 auto
}
.innerheight_info {
    min-height: 640px
}
.hint_txt {
    font-family: 'GillesComicFont';
    font-size: 18px;
    line-height: 30px;
    color: #697b37
}
.thanks_info, .cancel_info {
    padding: 120px 0 0 0
}
.thanks_msg, .cancel_msg {
    border: 1px solid #697b37;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    height: 300px;
    text-align: center;
    width: 600px;
    margin: 0px auto;
    padding: 60px 0 0 0
}
.cancel_msg {
    border: 1px solid #c54141
}
.thanks_msg span, .cancel_msg span {
    font-size: 30px;
    color: #349e49;
    display: block;
    margin: 5px 0
}
.cancel_msg span {
    color: #c54141
}
.shoppingbtns_info {
    display: block;
    margin: 30px auto;
    text-align: center
}
.shoppingbtns_info a, .shoppingbtns_info a:hover, .shoppingbtns_info a:active:hover {
    background-color: #349e49;
    padding: 6px 30px;
    border: 0;
    border-radius: 0;
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 23px;
    line-height: 26px;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz--webkit-border-radius: 3px
}
.history_info p{ color:#598c3e;}
.outofstock_btn, .outofstock_btn:hover, .outofstock_btn:focus {
    background: url(client/images/outofstock_btn.png) no-repeat;
    background-size: 100%;
}
.banner_logoinfo{ text-align: center; margin:100px 0 0 0 !important; }
.banner_logoinfo img{ text-align: center; margin:0 auto; max-width: 100%; max-height: 100%;  }
.qty_info{
   float: none;
   display: block;
   margin: 0px auto;
   /* text-align: center; */
   width: 100%;
   text-align: center;
   border-bottom: 2px solid #389946;
   width: 60px;
   padding-top: 80px;
}
.cartpage_rght .cartpage_price{ padding-top:80px; }
::i-block-chrome, .menu_bg ul li {
    margin: 0 10px;
}
/* Safari 2 - 3.1 */
html[xmlns*=""]:root .menu_bg ul li {
    margin: 0 10px;
}
 
/* Safari 2 - 3.1, Opera 9.25 */
*|html[xmlns*=""] .menu_bg ul li {
    margin: 0 10px;
}

_::-webkit-full-page-media, _:future, :root .menu_bg ul li {
    margin: 0 10px;
}
/*.subscribe_left {
    float: left;
}
.subscribe_right{
    float: right;
}*/
.subscribe_left p {
    margin: 0px;
}
.subscribe_right #mc_embed_signup {
    background: none;
}
.subscribe_right #mc_embed_signup #mc-embedded-subscribe{
    background-color: #389946;
    color: #fff;
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 18px;
}
.share_icons{
    display: inline-block;
    text-align: center;
    width: 100%;
    max-width: 500px;
}
.subscribe_right #mc_embed_signup input.email {
    width: 200px;
}
.stores_list{ margin-bottom: 15px; display: inline-block; vertical-align: top; width: 33%; min-height: 190px}
.stores_list h4 {
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 22px;
    line-height: 24px;
    color: #389946;
    font-weight: bold;
}
.stores_list p {
    font-family: "GillesComicFont";
    font-size: 16px;
    line-height: 28px;
    color: #333;
}

.stores_list p a, .stores_list p a:hover, .stores_list p a:focus{ font-family: "GillesComicFont"; font-size: 14px; color: #389946; text-decoration: underline; }
.reset_form {
   padding: 20px 0;
   width: 350px;
   margin: 0px auto;
   text-align: center;
}
.reset_form input[type="password"], .reset_form input[type="text"] {
   font-family: 'dk_lemon_yellow_sunregular';
   font-size: 20px;
   line-height: 28px;
   border: 0;
   box-shadow: none;
   background: none;
   margin-bottom: 20px;
   color: #349e49;
   padding: 6px 0;
   text-align: center;
}    
.breadcrumb-info{ display: block;  }
.breadcrumb-info ol{ background: transparent; padding: 15px 0 0 15px; margin-bottom: 0; }
.breadcrumb-info ol li{ color: #333; font-size: 20px; }
.breadcrumb-info ol li a{ color: #333; font-size: 20px; }
.breadcrumb-info ol li a:hover{ text-decoration: none; color: #333; font-size: 20px;}
.breadcrumb-info ol li.active{ color:#389946; font-size: 20px;}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
   /* Safari 5+ ONLY */
   ::i-block-chrome, .menu_bg ul li {
    margin: 0 10px;
   }
}
@media (max-width: 1440px) {
}
@media (max-width: 1400px) {
}
@media (max-width: 1300px) {
_::-webkit-full-page-media, _:future, :root .menu_bg ul li {
    margin: 0 10px;
}
.wg_product {
    width: 80px
}
.wg_product1 {
    top: 60px;
    left: 0px
}
.wg_product2 {
    top: 190px;
    left: 30px
}
.wg_product3 {
    top: 330px;
    left: 60px
}
.wg_product4 {
    top: 400px;
    left: 20px
}
.wg_product5 {
    top: 640px;
    left: 60px
}
.wg_product6 {
    top: 100px;
    left: inherit;
    right: 0px
}
.wg_product7 {
    top: 310px;
    left: inherit;
    right: 30px
}
.wg_product8 {
    top: 490px;
    left: inherit;
    right: 90px
}
.wg_product9 {
    top: 680px;
    left: inherit;
    right: 80px
}
}
@media (max-width: 1200px) {
_::-webkit-full-page-media, _:future, :root .menu_bg ul li {
    margin: 0 0px;
}
.container_info {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%
}
.innerpage_bg {
    -webkit-box-shadow: 0px 21px 22px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 21px 22px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 21px 22px -3px rgba(0, 0, 0, 0.75)
}
.innerpage_bg:before, .innerpage_bg:after {
    width: 0
}
.menu_bg ul li {
    margin: 0px 8px
}
.history_list ul li {
    font-size: 34px;
    line-height: 34px
}
.wg_product {
    display: none
}
}
@media (max-width: 980px) {
_::-webkit-full-page-media, _:future, :root .menu_bg ul li {
    margin: 0 8px;
}
.menu_bg ul li a {
    font-size: 16px;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px
}
.menu_bg ul li a:hover, .menu_bg ul li a:focus, .menu_bg ul li a.active {
    font-size: 16px;
    line-height: 20px;
}
.menu_bg ul li ul li a{     font-size:20px;
    line-height:34px;}
.history_row .history_list {
    width: 50%
}
.history_list ul li {
    font-size: 22px;
    line-height: 26px
}
.account_info h3, .history_info h3 {
    margin-top: 10px;
    font-size: 30px;
    line-height: 30px
}
.history_row {
    margin: 20px 0
}
.history_list h5, .history_list h5 a, .history_list h5 a:hover {
    font-size: 30px;
    line-height: 20px
}
.innerpage_bg {
    padding: 15px
}
.newbody footer p a, footer p a:hover, footer p a:focus {
    font-size: 18px;
    line-height: 22px;
    margin: 0 4px
}
.static_cnt ul li {
    font-size: 16px;
    line-height: 28px
}
.ordersum_heading h5 {
    font-size: 40px;
    line-height: 40px;
    margin: 0 0 10px 0
}
.checkout_btn, .checkout_btn:hover, .checkout_btn:focus {
    font-size: 26px;
    background-size: 100%
}
.seprateprod_list h3.title {
    font-size: 30px;
    line-height: 30px
}
.seprateprod_list h4.price {
    font-size: 30px;
    line-height: 30px
}
.reviews_row {
    width: 100%
}
.reviews_row .bx-wrapper, .alsotry_row .bx-wrapper {
    max-width: 90% !important
}
.checkavbl_btn, .checkavbl_btn:hover, .checkavbl_btn:focus {
    font-size: 40px
}
.reviews_row h3, .alsotry_row h3, div.review_slider div span {
    font-size: 40px
}
.alsotry_slider h3 {
    font-size: 24px
}
.search_list {
    margin-bottom: 20px
}
.search_list h5, .search_list h5 a, .search_list h5 a:hover, .addtocart_btn, .addtocart_btn:hover, .addtocart_btn:focus {
    font-size: 24px
}
.gourmet_list h5, .gourmet_list h5 a, .gourmet_list h5 a:hover, .gourmet_list h5 a:focus {
    font-size: 18px
}
.reviews_row, .rating_row, .search_row, .alsotry_row {
    margin: 20px 0
}
.ratinglist_lft h5, .ratinglist_lft h5 a, .ratinglist_lft h5 a:hover, .cartpage_lft h5, .cartpage_lft h5 a, .cartpage_lft h5 a:hover {
    font-size: 36px;
    line-height: 22px
}
.total_price ul li, .cartpage_price h4, .qty_info .btn-group>.btn, .qty_info .btn-group>.btn:hover, .qty_info .btn-group>.btn:focus {
    font-size: 28px;
    line-height: 32px
}
.bannerslider_info {
    width: 90%
}
.itsall_fresh p {
    padding: 0 20px
}
.bannerslider_info ul li h2 {
    font-size: 50px;
    line-height: 50px
}
/*.menu_bg ul li a:hover, .menu_bg ul li a:focus, .menu_bg ul li a.active {
    font: normal 26px/34px dk_lemon_yellow_sunregular
}*/
.gourmet_list .addtocart_btn, .gourmet_list .addtocart_btn:hover, .gourmet_list .addtocart_btn:focus {
    padding: 7px 46px;
    background-size: 100%
}
.viewdetails_btn, .viewdetails_btn:hover, .viewdetails_btn:focus {
    font-size: 18px;
    line-height: 46px;
    margin-right: 20px
}
.top_menu .dropdown-menu>li>a, .top_menu .dropdown-menu>li>a:hover, .top_menu .dropdown-menu>li>a:focus {
    font-size: 26px;
    line-height: 32px;
    padding: 0 15px
}
.logo {
    width: 100px
}
.header_right .top_menu ul li img {
    width: 24px
}
.newbody header.fixed .logo {
    width: 80px
}
.newbody header.fixed .header_right .top_menu ul li img {
    width: 22px
}
.wincolor {
    font-size: 24px
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -9;
    background-size: cover;
    transform: inherit !important;
}
.banner_slider .homebanner_txt{ margin:40px auto; }
.bannerslider_info div.banner_slider div h2{ font-size:32px; line-height:32px; }
.clicktoexp h3 {
    font-size: 24px;
}
.menu_bg ul li ul{ top:0; }
.top_menu .dropdown-menu{ left:-190px;}
}
@media (max-width: 979px) { 
_::-webkit-full-page-media, _:future, :root .menu_bg ul li {
    margin: 0 2px;
}
}

@media (max-width: 767px) {
.navbar-collapse {
    position: absolute;
    right:0px;
    background: #303030;
    width: 260px;
    top:38px;
    padding: 0
}
.navbar-default {
    padding: 0
}
.navbar-default .navbar-toggle {
    background: #fff;
    margin-right: 0
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: #f2f2f2
}
.navbar-default .navbar-nav>li {
    border-top: 1px solid #f7f7f7;
    width: 100%;
    margin: 0;
    text-align: left;
    padding: 0 0 0 30px
}
.navbar-default .navbar-nav>li:first-child {
    padding: 0 0 0 30px;
    border: none
}
.navbar-default .navbar-nav>li>a {
    background: none !important;
    padding: 10px 0;
    color: #fff !important
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li.active>a {
    background: none !important
}
.navbar-nav {
    margin: 0
}
.logo {
    float: left
}
.nav_info {
    width: auto;
    margin: 0;
    float: right
}
.account_info h3, .history_info h3 {
    font-size: 30px;
    line-height: 30px;
    text-align: center
}
.cartpage_head h3 {
    text-align: left
}
.storelocation_search label, .storelocation_search input[type="text"], .checkout_btn, .checkout_btn:hover, .checkout_btn:focus {
    font-size: 24px
}
.storelocation_search {
    max-width: 60%;
    margin: 0px auto
}
.storelocation_search label {
    display: inline-block
}
.storelocation_search input[type="text"] {
    width: 66%;
    display: inline-block
}
.seprateprod_list h3.title {
    font-size: 50px;
    line-height: 50px
}
.seprateprod_list h4.price {
    font-size: 30px;
    line-height: 30px
}
.checkavbl_btn, .checkavbl_btn:hover, .checkavbl_btn:focus {
    font-size: 30px
}
.reviews_row h3, .reviews_row h3, .alsotry_row h3 {
    font-size: 30px;
    line-height: 30px
}
.newbody footer {
    padding-top: 0px
}
.itsall_fresh .itsall_img {
    width: 80%
}
.menu_bg {
    background: none
}
.navbar-toggle, .navbar-toggle:hover, .navbar-toggle:focus {
    background: #8ab818
}
.navbar-toggle .icon-bar {
    background-color: #3a962b
}
.navbar-toggle {
    margin-top: 0;
    margin-bottom: 0
}
.newbody header.fixed .navbar-toggle {
    margin-top: 0
}
.menu_bg ul li {
    width: 100%;
    margin: 0
}
.menu_bg ul {
    padding: 10px 0;
    margin: 0
}
.menu_bg ul li a {
    font-size: 26px;
    line-height: 38px;
    padding-top: 0
}
.seprateprod_list p, .qty_list p, .static_cnt p, .static_cnt ul li, .itsall_fresh p, .account_info p, .recpass_sec p a, .recpass_sec p a:hover {
    font-size: 15px;
    line-height: 26px
}
.menu_bg {
    min-height: inherit
}
.clicktoexp h3, .clicktoexp h3 a, .clicktoexp h3 a:hover {
    font-size: 30px
}
.newbody footer p a, .newbody footer p a:hover, .newbody footer p a:focus {
    font-size: 18px;
    line-height: 20px
}
.account_form input[type="email"], .account_form input[type="number"], .account_form input[type="password"], .account_form input[type="tel"], .account_form input[type="url"], .account_form input[type="text"] {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 0
}
.account_form .submit_btn {
    font-size: 20px;
    line-height: 30px
}
.top_menu .dropdown-menu {
    right: 0;
    left: inherit
}
.ordersum_heading h5, .total_price ul li, .cartpage_price h4, .qty_info .btn-group>.btn, .qty_info .btn-group>.btn:hover, .qty_info .btn-group>.btn:focus {
    font-size: 24px;
    line-height: 30px
}
div.alsotry_slider div h5 {
    font-size: 14px;
    line-height: 20px
}
.reviews_row .bx-wrapper .bx-prev, .alsotry_row .bx-wrapper .bx-prev, .reviews_row .bx-wrapper .bx-next, .alsotry_row .bx-wrapper .bx-next {
    width: 21px;
    height: 25px;
    background-size: 200%
}
.ratinglist_lft h5, .ratinglist_lft h5 a, .ratinglist_lft h5 a:hover, .cartpage_lft h5, .cartpage_lft h5 a, .cartpage_lft h5 a:hover {
    font-size: 30px;
    margin-bottom: 0
}
.cartpage_lft h5 em {
    font-size: 20px
}
.history_img img {
    width: 100%
}
.ratinglist_rght {
    padding-top: 0
}
.salsa_avbl {
    width: 33.333%
}
.salsa_avbl, .salsa_avbl .btn-group>.btn, .salsa_avbl .btn-group>.btn:hover, .salsa_avbl .btn-group>.btn:focus {
    font-size: 30px
}
.search_list h5, .search_list h5 a, .search_list h5 a:hover {
    font-size: 20px;
    background-size: 100%
}
.addtocart_btn, .addtocart_btn:hover, .addtocart_btn:focus {
    font-size: 24px;
    background-size: 100%
}
.reviews_row h3, .alsotry_row h3, div.review_slider div span {
    font-size: 30px
}
.alsotry_row h3, .alsotry_row h3 {
    line-height: 30px
}
.ratinglist_img, .cartpage_img img, .cartpage_lft {
    text-align: center
}
.menu_bg ul {padding-left:0px;}
.menu_bg ul li ul {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0
}
.menu_bg ul li ul li {
    background: #f0f0f0;
    width: 100%
}
.menu_bg ul li a, .menu_bg ul li ul li a, .menu_bg ul li a:hover, .menu_bg ul li ul li a:hover {
    font-size: 16px; line-height:30px; 
}
.banner_slider .homebanner_txt {
    margin: 20px auto
}
.homebanner_txt p, .itsall_fresh p {
    padding: 0 30px
}
.innerheight_info {
    min-height: inherit
}
.banner_slider .homebanner_txt{ margin:20px auto; }
.bannerslider_info div.banner_slider div h2{ font-size:30px; line-height:30px; }
.clicktoexp h3 {
    font-size:20px;
}
.innerpage_bg:before, .innerpage_bg:after{ display:none; }
.search_list{ width:49%; }
.rating_row textarea{ font-size:20px;   }
.homebody{background:url(client/images/bg_mobile.jpg) no-repeat !important;}
}

@media (max-width: 640px) {
.qty_info {
    float: none
}
.ratinglist_lft, .ratinglist_rght, .cartpage_lft, .cartpage_rght .cartpage_price h4 {
    text-align: center
}
.cartpage_rght .cartpage_price h4 {
    margin: 0
}
.total_price ul li, .cartpage_price h4, .qty_info .btn-group>.btn, .qty_info .btn-group>.btn:hover, .qty_info .btn-group>.btn:focus {
    font-size: 26px;
    line-height: 26px
}
.history_row .history_list {
    width: 100%;
    margin-bottom: 15px
}
.history_list ul li {
    text-align: center
}
.newbody footer p img {
    width: 24px
}
.seprateprod_list p, .qty_list p, .static_cnt p, .static_cnt ul li, .itsall_fresh p, .account_info p, .recpass_sec p a, .recpass_sec p a:hover {
    font-size: 14px;
    line-height: 24px
}
div.review_slider div {
    font-size: 16px
}
.seprateprod_list h3.title {
    font-size: 30px;
    line-height: 30px
}
.seprateprod_list h4.price {
    font-size: 20px;
    line-height: 20px
}
.shipping_list {
    margin-bottom: 10px
}
.shipping_list p {
    font-size: 14px;
    line-height: 24px
}
.innerpage_bg {
    min-height:550px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.search_list h5, .search_list h5 a, .search_list h5 a:hover {
    font-size: 16px
}
.addtocart_btn, .addtocart_btn:hover, .addtocart_btn:focus {
    font-size: 22px
}
.history_img img {
    width: auto
}
.cartpage_lft h5 em {
    font-size: 18px
}
div.alsotry_slider div h5 {
    font-size: 13px;
    line-height: 16px
}
.top_menu .dropdown-menu {
    height:auto;
    overflow-y: auto
}
.newbody footer p a, .parallaxhome footer p a, .newbody footer p a:hover, .parallaxhome footer p a:hover, .newbody footer p a:focus, .parallaxhome footer p a:hover{
    margin: 0 5px
}
.navbar-toggle{ padding:12px;}
#search{ width:180px !important; font-size:18px !important; }
.account_form input[type="email"], .account_form input[type="number"], .account_form input[type="password"], .account_form input[type="tel"], .account_form input[type="url"], .account_form input[type="text"]{ font-size:18px; }
.ratinglist_lft h5, .ratinglist_lft h5 a, .ratinglist_lft h5 a:hover, .cartpage_lft h5, .cartpage_lft h5 a, .cartpage_lft h5 a:hover {
    font-size: 20px;
}
.rating_row textarea{ font-size:18px;   }
.swiper-container-home img {
    height:inherit;
}
}

@media (max-width: 600px) {

.search_list h5, .search_list h5 a, .search_list h5 a:hover {
    font-size: 20px
}
.cartpage_img img, .searchlist_img img {
    max-width: 100%;
    max-height: 100%;
}
.reviews_row .bx-wrapper .bx-prev, .alsotry_row .bx-wrapper .bx-prev, .reviews_row .bx-wrapper .bx-next, .alsotry_row .bx-wrapper .bx-next {
    width: 13px;
    height: 17px
}
.reviews_row .bx-wrapper .bx-prev, .alsotry_row .bx-wrapper .bx-prev {
    left: -20px
}
.reviews_row .bx-wrapper .bx-next, .alsotry_row .bx-wrapper .bx-next {
    right: -20px
}
.addtocart_info {
    display: inline-block;
    margin: 0;
    text-align: center
}
.gourmet_list .addtocart_btn, .gourmet_list .addtocart_btn:hover, .gourmet_list .addtocart_btn:focus, .viewdetails_btn, .viewdetails_btn:hover, .viewdetails_btn:focus {
    margin: 0
}
.itsall_fresh p {
    padding: 0
}
.history_row {
    margin: 20px 0 0 0
}
.ratinglist_rght p {
    font-size: 14px;
    line-height: 16px
}
.storelocation_search {
    max-width: 86%
}
.storelocation_search input[type="text"] {
    width: 100%
}
.static_cnt ul li span {
    padding-left: 5px
}
.LazyLoad.is-visible {
    width: 240px;
    height: inherit !important; margin:0 auto; 
}
.navbar-toggle{ padding:10px;}
.account_info h3, .history_info h3{ font-size:24px; }
.seprateprod_list h3.title{ font-size:24px; }
.search_list{ width:100%; }
.navbar-collapse{ right:0; top:35px; }
.share_icons p a{    height: 26px;
    width: 28px;
    background-size: 100%;}
#search{ width:160px !important; font-size:16px !important; }
.account_form .submit_btn {
    font-size: 18px;
    line-height: 30px;
    padding: 3px 20px;
}
.ratinglist_lft h5, .ratinglist_lft h5 a, .ratinglist_lft h5 a:hover, .cartpage_lft h5, .cartpage_lft h5 a, .cartpage_lft h5 a:hover {
    font-size:18px;
}
.stores_list{
    width: 100%;
}
.account_form form {
    width: 100%;
}
.newbody{ background:none !important; }

.homebody{background:url(client/images/bg_mobile.jpg) no-repeat !important;}

.homebody{ background:url(client/images/bg.jpg) no-repeat; background-size: cover;
    background-attachment: fixed; }

/*.newbody footer p a, .parallaxhome footer p a, .newbody footer p a:hover, .parallaxhome footer p a:hover, .newbody footer p a:focus, .parallaxhome footer p a:hover{ font-size:16px; display: block;}
.newbody footer p br {display: none}*/

}

@media (max-width: 400px) {
.history_list ul li {
    font-size: 18px;
    line-height: 20px
}
.salsa_avbl {
    width: 100%;
    text-align: center
}
.salsa_avbl, .salsa_avbl .btn-group>.btn, .salsa_avbl .btn-group>.btn:hover, .salsa_avbl .btn-group>.btn:focus {
    font-size: 26px
}
.history_img img, .ratinglist_img img {
    width: 100%
}
.bannerslider_info ul li h2 {
    font-size: 36px;
    line-height: 26px;
    top: 30%
}
.clicktoexp h3, .clicktoexp h3 a, .clicktoexp h3 a:hover {
    line-height: 24px
}
.bannerslider_info {
    width: 87%
}
.LazyLoad.is-visible {
    margin: 0 auto;
    height: inherit !important
}
.LazyLoad.is-visible{ width:auto; }
.gourmet_list .addtocart_btn, .gourmet_list .addtocart_btn:hover, .gourmet_list .addtocart_btn:focus, .viewdetails_btn, .viewdetails_btn:hover, .viewdetails_btn:focus {
    margin: 0 10px;
}
.search_list h5, .search_list h5 a, .search_list h5 a:hover{ font-size:18px; }
/*.newbody footer p a, .parallaxhome footer p a, .newbody footer p a:hover, .parallaxhome footer p a:hover, .newbody footer p a:focus, .parallaxhome footer p a:hover{ font-size:16px; display: block;}
.newbody footer p br {display: none}*/
#search {
    width: 120px !important;
    font-size: 16px !important;
    position: absolute;
    left:15px;
    top:15px;
    padding-bottom: 0; height:26px; 
}
.account_form input[type="email"], .account_form input[type="number"], .account_form input[type="password"], .account_form input[type="tel"], .account_form input[type="url"], .account_form input[type="text"]{ font-size:16px; }

}

@media (max-width:320px) {
.history_list ul li {
    font-size: 16px
}
.gourmet_list .addtocart_btn, .gourmet_list .addtocart_btn:hover, .gourmet_list .addtocart_btn:focus, .viewdetails_btn, .viewdetails_btn:hover, .viewdetails_btn:focus {
    width: 100%
}
#search {
    width:114px !important;
}

}

.map-container {
    margin-top: 50px;
    width: 100%;
    max-width: 100%;
    height: 600px;
}
